.rotatable-image-container {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
}

.rotatable-image {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  transition: all 0.3s;
  position: relative;
}

.image-actions {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -75px;
  width: 150px;
  height: 150px;
  text-align: left;
  line-height: normal;
}

.rotate-actions {
  width: 100%;
  height: 100%;
}

.rotatable-image:hover + .image-actions .rotate-actions .rotate {
  opacity: 0.5;
}

.rotate {
  width: 150px;
  height: 150px;
  background-size: contain;
  background-color: Transparent;
  border: 0;
  cursor: pointer;
  transform: rotate(85deg);
  transition: transform 0.4s;
  opacity: 0;
  transition: opacity 0.1s linear;
  transition: transform 0.3s;
}

.rotate:focus,
.rotate:hover {
  opacity: 1;
  transform: rotate(100deg);
}

.rotate:before {
  content: "\21bb";
  display: block;
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 150px;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0 0 50px;
  font-weight: 900;
}
