.rotatable-image-container {
  height: 100%;
  width: 100%;
  text-align: center;

  border: 1px solid #444;
}

.rotatable-image {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  transition: all 0.3s;
}
